@model IEnumerable<TableStorageApp.CustomerEntity>

@Html.ActionLink("Create", "Create")

<table>
	<tr>
		<th>voornaam</th>
		<th>achternaam</th>
		<th>Email-adres</th>
		<th>Telefoonnummers</th>
	</tr>
	@foreach (var customer in Model)
	{
			<tr>
				<td>@customer.PartitionKey</td>
				<td>@customer.RowKey</td>
				<td>@customer.Email</td>
				<td>@customer.PhoneNumber</td>
			</tr>
	}
</table>